.chatList {
  max-height: 400px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #5a5afa, #a75afe);
    border-radius: 10px;
    transition: background 0.3s ease;
  }

  &:hover::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #7a7aff, #c27afe);
  }

  /* Scrollbar for Firefox */
  scrollbar-width: thin;
  scrollbar-color: #7a7aff transparent;

  .search {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;

    .searchBar {
      flex: 1;
      display: flex;
      align-items: center;
      gap: 20px;
      border-radius: 10px;
      background-color: rgba(17, 15, 40, 0.5);
      padding: 10px;

      input {
        background-color: transparent;
        border: none;
        outline: none;
        color: white;
        flex: 1;
      }

      img {
        width: 20px;
        height: 20px;
      }
    }

    .add {
      width: 36px;
      height: 36px;
      background-color: rgba(17, 15, 40, 0.5);
      padding: 10px;
      border-radius: 10px;
      cursor: pointer;
    }

    > img {
      width: 24px;
      height: 24px;
      cursor: pointer;
    }
  }

  .item {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid #dddddd35;

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
    }

    .texts {
      display: flex;
      flex-direction: column;
      gap: 10px;

      span {
        font-weight: 800;
      }
      p {
        font-size: 14px;
        font-weight: 300;
      }
    }
  }
}
